# API_KEY=your-api-key-here
# API_BASE_URL=https://api.openai.com/v1
# MODEL=gpt-4o
# MAX_TOKENS=4096
# CONTEXT_LIMIT=100000
# LOG_LEVEL=info


API_KEY=sk-CyBVeDkK7HEezkp0wfrXuhRXkfnHtmPdcfCVkcSffDgb0vDa
API_BASE_URL=https://www.dmxapi.cn/v1
MODEL=qwen3.5-plus-2026-02-15
MAX_TOKENS=4096*2
CONTEXT_LIMIT=1000000
LOG_LEVEL=info
